header h1
    {
        text-align:center;
    }
header h3
    {
        padding: 30px;
        text-align: center;
        background: #1abc9c;
        color: black;
        font-size: 30px;
    }
    .my_navbar
    {
        background-color:red;
        list-style-type:none;
        overflow:hidden;
        margin:0;
        padding:0;
    }
    li
    {
        float:left;
    }
    li a
    {
        text-decoration:none;
        color:black;
        display:block;
        padding:15px 15px 15px 15px;
    }
    li a:hover
    {
        background-color:orange;
    }
    footer h3
    {
        background-color:yellow;
        text-align:center;
        padding:10px 0px;
    }
